@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");


.App {
    min-height: 100vh;
}

.title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

.search-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text]{
    padding-left: 20px;
    width: 50%;
    border-radius: 6px 0 0 6px;
    border: 0;
    height: 50px;
}
input[type=text]:focus, .btn-addTodo:focus{
    outline: none;
}


.search-btn {
    color: white;
    background-color: rgb(0, 132, 255);
    font-size: 14px;
    font-weight: 600;
    border: none;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px ;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.recipes-cotainer{
    width: 90%;
    background-color: #e6e6e680;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}